.navbar {
    background-color: #0ec638;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000 !important;
}

.navbar .navbar-nav .nav-link {
    color: white !important;
}

.navbar .dropdown-menu {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.navbar .dropdown-item {
    color: white !important;
}

.navbar .dropdown-item:hover {
    background-color: #218838 !important;
    color: white !important;
}

.navbar .btn {
    margin-left: 15px;
}

form {
    margin-top: 20px;
}

form button, button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover, button:hover {
    background-color: #218838;
}

.form-control, .from-group label {
    background-color: #ffffff;
    color: #000000;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #495057;
}
