{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!-- Carousel (Posuvné obrázky) -->
  <div id="auctionCarousel" class="carousel slide mt-4" data-ride="carousel">
  <div class="carousel-inner">
    {% for auction in auctions %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ auction.image.url }}" class="d-block w-100" alt="{{ auction.title }}">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ auction.title }}</h5>
          <p>{{ auction.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#auctionCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Předchozí</span>
  </a>
  <a class="carousel-control-next" href="#auctionCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Další</span>
  </a>
</div>

  <!-- Karty s aukcemi -->
  <div class="container mt-5">
    <div class="row">
      {% for auction in auctions %}
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{{ auction.image.url }}" class="card-img-top" alt="Obrázek aukce">
          <div class="card-body">
            <h5 class="card-title">{{ auction.title }}</h5>
            <p class="card-text">{{ auction.description|truncatewords:15 }}</p>
            <a href="{% url 'auction_detail' auction.id %}" class="btn btn-primary">Detail aukce</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
