<!DOCTYPE html>
<html lang="cs">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,0">
    <title>Auction House</title>
    <link rel="stylesheet" href="{% static 'viewer/style.css' %}">
</head>
<body>
    <header>
        <h1>Vítejte v Aukční Síni</h1>
    </header>
    <main>
        <h2>Dostupné Aukce</h2>
        <ul id="auction-list">

        </ul>
    </main>

    <footer>
        <p>&copy; Auction House Team One</p>
    </footer>

    <script src="{% static 'viewer/script.js' %}"></script>
</body>
</html>