<!DOCTYPE html>
{% load static %}
{% load group_tags %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction house - dražby nemovitostí</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'viewer/style.css' %}">
    <link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />

    <style>
        #clock {
            font-size: 14px;
            color: #fff;
            margin-right: 15px;
        }
    </style>
</head>

<body>
    <!-- Combined Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3498db; padding: 5px;">
        <div class="container-fluid">
            <a class="navbar-brand text-white d-flex align-items-center" href="/">
                <img src="{% static 'viewer/images/image.png' %}" alt="Logo" style="height: 40px; margin-right: 10px;">
                Dražby nemovitostí
            </a>

            <div class="navbar-text text-white d-flex align-items-center" id="clock">
                Čas: 00:00:00
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="aukceDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Aukce
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="aukceDropdown">
                            <li><a class="dropdown-item" href="/auctions/houses">Domy</a></li>
                            <li><a class="dropdown-item" href="/auctions/apartments">Byty</a></li>
                            <li><a class="dropdown-item" href="/auctions/grounds">Pozemky</a></li>
                        </ul>
                    </li>
                    {% if user|has_group:"Admins" %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'insert_data' %}">Administrace</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'kontakt' %}">Kontakt</a>
                    </li>
                    {% if user|has_group:"Users" %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'won_auctions' %}">Vyhrané aukce</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <form class="d-flex align-items-center" method="get" action="{% url 'auctions_list' %}">
                            <input class="form-control me-2" type="text" name="q" placeholder="Hledat aukci" value="{{ request.GET.q }}">
                            <button class="btn btn-light" type="submit">Hledat</button>
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">Změnit heslo</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}" onclick="resetLoginDuration()">Odhlásit se</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white btn-orange" href="{% url 'login' %}">Přihlásit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'signup' %}">Registrovat</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="jumbotron">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="cookie-banner" style="display: none; position: fixed; bottom: 0; width: 100%; background: #333; color: white; text-align: center; padding: 10px;">
        <p>Kliknutím na tlačítko "Souhlasím" potvrzujete, že máte rádi sušenky!</p>
        <button id="accept-cookies" style="background-color: green; color: white; padding: 5px 10px;">Souhlasím</button>
    </div>

    {% include 'footer.html' %}

    <!-- JavaScript Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Custom Scripts -->
    <script>
        // Clock and login duration
        function updateTime() {
            const currentTime = new Date();
            document.getElementById('clock').textContent = `Čas: ${currentTime.toLocaleTimeString()}`;
        }

        if (!sessionStorage.getItem('loginTime')) {
            sessionStorage.setItem('loginTime', new Date().toISOString());
        }

        setInterval(updateTime, 1000);

        function resetLoginDuration() {
            sessionStorage.removeItem('loginTime');
        }

        document.addEventListener("DOMContentLoaded", function() {
            const logoutLink = document.querySelector('a[href="{% url 'logout' %}"]');
            if (logoutLink) {
                logoutLink.addEventListener('click', resetLoginDuration);
            }
        });

        // Cookie Banner
        document.addEventListener("DOMContentLoaded", function() {
            if (!getCookie('cookies_accepted')) {
                document.getElementById('cookie-banner').style.display = 'block';
            }

            document.getElementById('accept-cookies').addEventListener('click', function() {
                setCookie('cookies_accepted', true, 365);
                document.getElementById('cookie-banner').style.display = 'none';
            });

            function setCookie(name, value, days) {
                const d = new Date();
                d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
                const expires = "expires=" + d.toUTCString();
                document.cookie = name + "=" + value + ";" + expires + ";path=/";
            }

            function getCookie(name) {
                const decodedCookie = decodeURIComponent(document.cookie);
                const ca = decodedCookie.split(';');
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i].trim();
                    if (c.indexOf(name + "=") === 0) {
                        return c.substring(name.length + 1);
                    }
                }
                return null;
            }
        });
    </script>
</body>
</html>
