<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Dražby nemovitostí</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <!-- Dropdown pro Momentální aukce -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="currentAuctionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Momentální aukce
          </a>
          <div class="dropdown-menu" aria-labelledby="currentAuctionsDropdown">
            <a class="dropdown-item" href="#">Všechny aukce</a>
            <a class="dropdown-item" href="#">Domy</a>
            <a class="dropdown-item" href="#">Byty</a>
            <a class="dropdown-item" href="#">Pozemky</a>
          </div>
        </li>

        <!-- Dropdown pro Budoucí aukce -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="futureAuctionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Budoucí aukce
          </a>
          <div class="dropdown-menu" aria-labelledby="futureAuctionsDropdown">
            <a class="dropdown-item" href="#">Všechny aukce</a>
            <a class="dropdown-item" href="#">Domy</a>
            <a class="dropdown-item" href="#">Byty</a>
            <a class="dropdown-item" href="#">Pozemky</a>
          </div>
        </li>
      </ul>

      <!-- Přihlášení a registrace vpravo -->
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Odhlásit se</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Přihlásit se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Registrovat</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
